body
{
    background-color:#1d3c50; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}

h1
{
    color: #77e1ec;
    text-align: center;
    font-size: 18px; /* Titres de 40 pixels */
    font-family: Verdana , sans-serif;
    font-weight: bold;
}

h2
{
    text-align: center;
    font-size: 19px; /* Titres de 40 pixels */
    font-family: Verdana , sans-serif;
    font-weight: bold;
}

p
{
    font-family: Comic-Sans , sans-serif;
    font-size: 14px; /* Titres de 40 pixels */
    text-align: center;
}

h3
{
    color: #77e1ec;
    font-family: Comic-Sans , sans-serif;
    font-size: 14px; /* Titres de 40 pixels */
    text-align: center;
}

img 
{
    max-width: 70%;
}
.styled 
{
    display: block;
    margin : auto;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(26, 5, 46);
}
.styled:hover {
    background-color: rgb(36, 7, 63);
}

.styled:active {
    background-color: rgb(46, 11, 78);
}

.parametre{
    display: block;
    background-color: rgb(26, 5, 46);
    background-image : "en.png";
    border: 0;
    line-height: 1;
    padding: 0 15px;
    font-size: 9;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
.weekly{
    display: block;
    background-color: rgb(26, 5, 46);
    background-image : "en.png";
    border: 0;
    line-height: 1;
    padding: 0 15px;
    font-size: 9;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 8px; left: 240px;
}