html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin : 0;
  background-color: #c6d9e6;
  color: #210e00;
  font-family: Arial, Helvetica, sans-serif;
}

section, aside, div {
  padding: 20px;
  border-radius: 30px;
  
}


@mixin bgGradient($color){
  background-image: linear-gradient(lighten($color, 25%) 0%, $color 70%);  
}

.dark {
  background-color:#E6DAC6cc;
  @include bgGradient(#1d3c50);
}
.green {
  background-color:#90dd8cc2; 
}

p{
  font-size: 1rem;

}
h1 { 
  font-size: 4rem; 
}

h2 { 
  font-size: 2rem;
  margin-BOTTOM: 0; 
}
div {
  margin-TOP: 0em;
}

h1, h2, h3 {
  margin-top: 0px;
}

.flex-container {
    display: flex;  
}

.fwh-slide {
  height: 100 vh;
  background-color:#E6DAC6;
  padding : 35px;

}
.morris-hover{position:absolute;z-index:1000;}

.link:hover { color: #0e4004; } /* CSS link color () */
.link { color: #065f06; } /* CSS link hover () */